@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfull!</h1>
        <p>Your Order Number is : @Model</p>
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <p class="pt-4">Payment has been applied successfully!</p>
        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-id="@Model" class="btn btn-primary">Back to Order Details</a>
    </div>
</div>