@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var companyVisible = "";
}
@model RoleManagementVM

<div class="class shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Manage User Role</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="ApplicationUser.Id" hidden />
            <div class="border p-3">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-3 col-12">
                    <input asp-for="ApplicationUser.Name" readonly class="form-control" />
                    <label asp-for="ApplicationUser.Name" class="ms-2"></label>
                </div>
                <div class="form-floating py-3 col-12">
                    <select asp-for="ApplicationUser.Role" asp-items="@Model.RoleList" class="form-select"></select>
                    <label asp-for="ApplicationUser.Role" class="ms-2"></label>
                </div>
                @if (Model.ApplicationUser.Role == SD.Role_Company)
                {
                    companyVisible = "display:none;";
                }
                else
                {
                    companyVisible = "display:block;";
                }
                <div class="form-floating py-3 col-12">
                    <select asp-for="ApplicationUser.CompanyId" style="@companyVisible" asp-items="@Model.CompanyList" class="form-select"></select>
                    <label asp-for="ApplicationUser.Company" class="ms-2"></label>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Index" class="btn btn-outline-secondary border form-control">Back to List </a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>



@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(() => {
            $('#ApplicationUser_CompanyId').hide();

            $('#ApplicationUser_Role').change(() => {
                var selection = $('#ApplicationUser_Role Option:Selected').text();
                if (selection === 'Company') {
                    $('#ApplicationUser_CompanyId').show();
                } else {
                    $('#ApplicationUser_CompanyId').hide();
                }
            })
        })
    </script>
}