@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        <p>Your Order Number is : @Model</p>
        <img src="~/images/lawn_leaf.jpg" width="65%"/>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <p class="pt-4">Your order has been placed successfully!</p>
    </div>
</div>